[gcode_macro PRINT_END]
gcode:
  _MOVE_AWAY  ;Move away from print
  M106 S0 ;M106 S0
  #SET_FAN_SPEED FAN=255 SPEED=0  ;Fan speed
  G1 E-25 F1800  ;Retract filament
  TURN_OFF_HEATERS  ;Turn off heaters
  BED_MESH_CLEAR  ;Clear Bed Mesh
  M84  ;Disable motors
  G92 E0   ;Reset extruder
  M400  ;Clear buffer
  
  

[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 80 * (1 if th.axis_maximum.x - th.position.x > 80 else -1) %}
    {% set y_safe = th.position.y + 80 * (1 if th.axis_maximum.y - th.position.y > 80 else -1) %}
    {% set z_safe = [th.position.z + 8, th.axis_maximum.z]|min %}
      
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing

